{% extends "global/base.html" %}
{% block content %}
<div class="result-all-container">

    <h1>Monthly Summary</h1>

    <h1><span class="color-total">Total</span>/<span class="color-media">Average</span></h1>
    
    <table >
        <thead>
            <tr>
                <th>
                    <a href="?order_by={% if order_by == '-year' and descending %}year{% else %}-year{% endif %}">
                        Month
                    </a>
                </th>
                <th>
                    <a href="?order_by={% if order_by == '-total_dias' and descending %}total_dias{% else %}-total_dias{% endif %}">
                        Worked Days
                    </a>
                </th>
                <th>
                    <p>Worked Hours</p> 
                    <p>
                        <a href="?order_by={% if order_by == '-total_horas_trab' and descending %}total_horas_trab{% else %}-total_horas_trab{% endif %}">
                            <span class="color-total">Total</span>
                        </a>
                            /
                        <a href="?order_by={% if order_by == '-media_horas_trab' and descending %}media_horas_trab{% else %}-media_horas_trab{% endif %}">
                            <span class="color-media">Average</span>
                        </a>
                    </p>
                </th>
                <th>
                    <p>Km Driven</p>
                    <p>
                        <a href="?order_by={% if order_by == '-total_km_dirigido' and descending %}total_km_dirigido{% else %}-total_km_dirigido{% endif %}">
                            <span class="color-total">Total</span>
                        </a>
                            /
                        <a href="?order_by={% if order_by == '-media_km_dirigido' and descending %}media_km_dirigido{% else %}-media_km_dirigido{% endif %}">
                            <span class="color-media">Average</span>
                        </a>
                    </p>
                </th>
                <th>
                    <p>Billings</p>
                    <p>
                        <a href="?order_by={% if order_by == '-total_faturamento' and descending %}total_faturamento{% else %}-total_faturamento{% endif %}">
                            <span class="color-total">Total</span>
                        </a>
                            /
                        <a href="?order_by={% if order_by == '-media_faturamento' and descending %}media_faturamento{% else %}-media_faturamento{% endif %}">
                            <span class="color-media">Average</span>
                        </a>
                    </p>
                </th>
                <th>
                    <p>Fuel Expense</p>
                    <p>
                        <a href="?order_by={% if order_by == '-total_gasto_comb' and descending %}total_gasto_comb{% else %}-total_gasto_comb{% endif %}">
                            <span class="color-total">Total</span>
                        </a>
                            /
                        <a href="?order_by={% if order_by == '-media_gasto_comb' and descending %}media_gasto_comb{% else %}-media_gasto_comb{% endif %}">
                            <span class="color-media">Average</span>
                        </a>
                    </p>
                </th>
                <th >
                    <a class="color-media" href="?order_by={% if order_by == '-media_gasto_km' and descending %}media_gasto_km{% else %}-media_gasto_km{% endif %}">
                        Spend per Km
                    </a>
                </th>
                <th>
                    <a class="color-media" href="?order_by={% if order_by == '-media_lucro_km' and descending %}media_lucro_km{% else %}-media_lucro_km{% endif %}">
                        Profit per Km
                    </a>
                </th>
                <th>
                    <a class="color-media" href="?order_by={% if order_by == '-media_lucro_hora' and descending %}media_lucro_hora{% else %}-media_lucro_hora{% endif %}">
                        Profit per Hour
                    </a>
                </th>
                <th>
                    <p>Profit</p>
                    <p>
                        <a href="?order_by={% if order_by == '-total_lucro' and descending %}total_lucro{% else %}-total_lucro{% endif %}">
                            <span class="color-total">Total</span>
                        </a>
                            /
                        <a href="?order_by={% if order_by == '-media_lucro' and descending %}media_lucro{% else %}-media_lucro{% endif %}">
                            <span class="color-media">Average</span>
                        </a>
                    </p>
                </th>
            </tr>
        </thead>
        <tbody> 
            {% for data in summary_data %}
                <tr class="{% cycle 'row-gray' 'row-white'%}">
                    <td>{% if data.month < 10 %}0{{ data.month}}{% else %}{{ data.month}}{% endif %}/{{data.year}}</td>
                    <td><span class="color-total">{{ data.total_dias }}</span></td>
                    <td><span class="color-total">{{ data.total_horas_trab }}</span>/<span class="color-media">{{data.media_horas_trab}}</span></td>
                    <td><span class="color-total">{{ data.total_km_dirigido}}</span>/<span class="color-media">{{data.media_km_dirigido}}</span></td>
                    <td>R$ <span class="color-total">{{ data.total_faturamento|floatformat:2 }}</span>/<span class="color-media">{{data.media_faturamento|floatformat:2}}</span></td>
                    <td>R$ <span class="color-total">{{ data.total_gasto_comb|floatformat:2 }}</span>/<span class="color-media">{{data.media_gasto_comb|floatformat:2}}</span></td>
                    <td>R$ <span class="color-media">{{ data.media_gasto_km|floatformat:2 }}</span></td>
                    <td>R$ <span class="color-media">{{ data.media_lucro_km|floatformat:2 }}</span></td>
                    <td>R$ <span class="color-media">{{ data.media_lucro_hora|floatformat:2 }}</span></td>
                    <td>R$ <span class="color-total">{{ data.total_lucro|floatformat:2 }}</span>/<span class="color-media">{{data.media_lucro|floatformat:2}}</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
